/* start global rules */

:root {
  --dark-yellow: #ae944f;
  --light-black: #1f1f1f;
}

body {
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
  scroll-behavior: smooth;
}

.main-btn {
  background-color: black !important;
  border: none !important;
  transition: 0.3s !important;
  font-weight: 500 !important;
}

.main-btn:hover {
  background-color: #fff !important;
  color: black !important;
}

.main-btn:focus {
  box-shadow: none !important;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

/* end global rules */

/* start navbar */
.navbar {
  background-color: var(--dark-yellow);
}
.navbar .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
  transition: 0.3s !important;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus {
  color: black;
}

.navbar .navbar-brand h1 {
  color: black;
  margin: 0;
  font-family: "Permanent Marker", cursive;
  transition: 0.3s;
}

.navbar .navbar-brand h1:hover {
  color: white;
  text-shadow: 5px 11px 17px rgba(0, 0, 0, 0.69);
}

.navbar .search {
  border-left: 1px solid #fff;
  cursor: pointer;
}

.navbar .search svg {
  transition: 0.3s;
}

.navbar .search:hover svg {
  color: white;
}

.navbar .navbar-toggler {
  border-color: black;
}

.navbar .navbar-toggler:focus {
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  border-color: #ffffffa3;
}

.navbar .navbar-collapse .main-btn {
  background-color: black;
  border: none;
  transition: 0.4s;
  font-weight: 500;
}
.navbar .navbar-collapse .main-btn:hover {
  background-color: #fff;
  color: black;
}
/* start navbar */

/* start landing */

.landing {
  background-color: #e9d5a1;
  height: calc(100vh - 75px);
}

.landing img {
  max-width: 30%;
}

.landing h1 {
  margin: 0 0 10px 0;
  font-weight: 900;
  font-size: 40px;
  text-transform: none;
  position: relative;
}

.landing h1 img {
  width: 150px;
  height: 150px;
  left: -15%;
  top: 50%;
  transform: translateY(-30%);
  border: 4px solid white;
  transition: 0.7s;
  animation: movingimg 0.7s both infinite alternate;
}

@keyframes movingimg {
  from {
    transform: translateY(-40%);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.65);
  }
  to {
    transform: translateY(-60%);
    box-shadow: 2px 8px 29px 0px rgba(0, 0, 0, 0.65);
  }
}

.landing p {
  font-size: 23px;
  width: 255px;
  margin: 20px auto;
  border-right: 2px solid #0000008c;
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 4s steps(21) 2s both 2, border 0.5s both infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 255px;
  }
}

@keyframes border {
  from {
    border-right-color: #0000008c;
  }
  to {
    border-right-color: transparent;
  }
}

/* end landing */

/* start about */

.about .special-heading svg {
  font-size: 70px;
}

.about .icon-holder {
  height: 200px;
}

.about .icon-holder svg {
  left: 50%;
  transform: translate(-50%);
}

.about .icon-holder .number {
  font-size: 190px;
  color: #eff7fa;
}

.about .icon-holder .icon {
  font-size: 50px;
}
/* end about */

/* start projects */
.projects {
  background-color: #efe1bd;
  padding: 30px 0 80px 0;
}

.projects ul li.active,
.projects ul li:hover {
  background-color: var(--dark-yellow);
  color: white;
}

.projects ul {
  position: relative;
}

.projects ul li {
  padding: 0.5rem 1.5rem;
  margin: 0 15px;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 30px;
}

.projects .col-lg-4 {
  margin-bottom: 25px;
}

.projects .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  display: block;
}

.projects .box img {
  border-radius: 10px;
}

.projects .box::before {
  content: attr(data-work);
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background-color: #e9d5a1d6;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  top: -100%;
  cursor: pointer;
  z-index: 1;
  border-radius: 10px;
  color: black;
}

.projects .box:hover::before {
  top: 5px;
}

.projects .box:hover {
  box-shadow: 2px 8px 29px 0px rgba(0, 0, 0, 0.65);
  transition: 0.6s;
}

/* end projects */

/* start skills */
.skills {
  background-color: var(--light-black);
  margin-top: -2%;
}

.skills .special-heading {
  color: white;
  position: relative;
}

.skills .special-heading p {
  color: #ffffffba;
}

.skills .special-heading::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  background-color: white;
  left: 50%;
  transform: translateX(-50%);
  top: 95%;
}

.skills .special-heading::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  left: 50%;
  transform: translateX(-50%);
  top: 88%;
}

.skills .special-heading img {
  background-color: white;
  border-radius: 5px;
}

.skills .skills-box {
  display: flex;
  justify-content: space-evenly;
}

.skills .skill-box {
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f5f40d;
  padding: 15px;
  border-radius: 8px;
  height: 100px;
  width: 100px;
  transition: 0.3s !important;
}
.skills .skill-box:hover {
  background-color: white;
  color: black;
  /* transition: 0.3s !important; */
}

.skills .skill-box svg {
  font-size: 4rem;
}

.skills .skill-box p {
  margin-bottom: 0;
}
/* end skills */

/* start subscribe */
.subscribe {
  background-color: #2a9d8f;
}
.subscribe input[type="text"] {
  border: none;
  border-bottom: 1px solid white;
  text-transform: capitalize;
}
.subscribe input[type="text"]:focus {
  outline: none;
}
.subscribe ::placeholder {
  color: #ffffffa8;
}

.subscribe input[type="submit"] {
  color: #2a9d8f;
  text-transform: capitalize;
}
/* end subscribe */

/* start footer */
.footer {
  background-color: var(--light-black);
}

.footer .copyright :nth-child(1) {
  color: #e76f51;
}

.footer .contact li {
  width: 40px;
  transition: 0.3s;
  cursor: pointer;
}

.footer .contact ul {
  justify-content: center;
}

.footer .contact li:hover {
  transform: scale(1.2);
}
.footer .contact li:nth-child(4) {
  border-radius: 50%;
  padding: 0;
  outline: 1px solid white;
  background-color: white;
}

.footer .info h1 {
  color: black;
  margin: 0;
  font-family: "Permanent Marker", cursive;
  transition: 0.3s;
  cursor: pointer;
}

/* end footer */

/* start media query */
@media (max-width: 767px) {
  .landing h1 img {
    display: none;
  }

  .skills .skills-box {
    flex-wrap: wrap;
  }

  .skills .skill-box {
    margin-bottom: 10px !important;
  }

  .projects ul li {
    padding: 0.5rem 0.8rem;
    white-space: nowrap;
  }

  .subscribe .row div {
    margin-bottom: 20px;
  }

  .footer .row > div {
    margin-bottom: 15px;
  }

  .navbar .navbar-brand {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* end media query */
